@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100&display=swap');

:root{
    --dark-blue-color: #141215;
    --blue-color: #00304A;
    --nav-footer-color: #0D0B0E;
    --paragraph-color: #FFF6EE;
    --title-color: #F3DCC7;
    --border-color:#D3A742;
    --hover-color:#FEBA8B;

    --body-font: 'Roboto', sans-serif;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--dark-blue-color);
    font-family: var(--body-font);
    color: var(--paragraph-color);
}

header, footer{
    background-color: var(--nav-footer-color);
}

nav{
    display: flex;
    justify-content: space-between;
}

.nav_items{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin:0 60px;
    width: 37%;
}

.nav_item{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav_item img{
    display: none;
}

nav a{
    text-decoration: none;
    color: var(--paragraph-color);
    font-size:25px;
    padding-left: 5px;
}

nav a:hover{
    color: var(--hover-color);
}

h1{
    color: var(--title-color);
    font-size: 40px;
    text-align: center;
}

.banner{
    position: relative;
}

.banner_information{
    position: absolute;
    height: 100%;
    width: 100%;
    bottom: 0;
    background: linear-gradient(to left,rgba(0, 0, 0, 0.88), rgba(0, 0, 0, 0.83), rgba(0, 0, 0, 0.326), rgba(0, 0, 0, 0.188));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: end;
    padding: 50px 100px 50px 50%;
    font-size: 23px;
}

.banner_background{
    width: 100%;
}

.banner_information img{
    width: 100%;
}

.buttton_container h4{
    text-align: center;
    margin-bottom: 15px;
    font-weight: 400;
}

.button_netflix{
    background-color: black;
    padding: 0px 50px;
    border: 1px solid var(--border-color);
}

.story_summary{
    background: url('/assets/img/index/story_background.png') no-repeat center/cover;
    padding:80px 30% 80px 0px;
}

.story_summary img{
    width: 100%;
}

.story_summary h1{
    width: 70%;
    text-align: center;
    margin: auto;
}

.story_summary p{
    font-size: 22px;
    margin: 40px auto;
    width: 90%;
}

.characters, .episodes{
    text-align: center;
    padding: 40px;
}


.characters_summary{
    display: flex;
    justify-content: space-around;
    padding: 40px;
    background: url('/assets/img/index/vector-bg.png') no-repeat center/cover;
    background-position-y: 200px
}

.character h2{
    font-size: 35px;
    margin-top: 30px;
}

.characters_summary img{
    height: 350px;
    width: 350px;
    border-radius: 50%;
    padding: 10px;
    background: linear-gradient(#804524, #92613D, #D29466, #804524);
}

.controls{
    width: 350px;
    display: flex;
    justify-content: space-between;
    margin: -80px auto auto auto;
}

.controls i{
    font-size: 40px;
}

.back{
    transform: rotate(180deg);
}

.episodes-list{
    display: flex;
    justify-content: space-around;
    padding: 40px;
}

.episodes{
    background: url('/assets/img/index/episodes_background.png');
}

.episode{
    border: 1px solid #92613D;
    position: relative;
}

.episode_description{
    width: 100%;
    position: absolute;
    top: 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 20px;
}

.line{
    width: 70%;
}

.episodes button, .character_information button{
    background-color: var(--blue-color);
    padding: 15px 40px;
    color: white;
    border: 1px solid var(--border-color);
    font-size: 22px;
}

footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0px 40px 80px;
}

.social_media{
    width: 50%;
    margin: auto auto -10px;
}

.social_media i{
    color: white;
    font-size: 25px;
    margin: 10px 10px 0px 10px;
}


/*---------------------EPISODIOS-------------------------*/

.episodes-banner img{
    width: 100%;
}

.episodes_container{
    background: url('/assets/img/episodes/vector-bg.svg') no-repeat center/contain;
    padding: 80px 0;
}

.episodes_all{
    padding: 40px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.episode_card{
    border:0.5px solid #cab2a345;
    width: 450px;
    min-width: 400px;
    margin: 15px;
    background-color: #0E0D0F;
}

.episode_card img{
    width: 100%;
    position: relative;
    border-bottom: 0.5px solid #cab2a345;
}

.episode_head{
    position: relative;
}

.episode_name{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.episode_information{
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 20px;
}

.episode_information h3{
    color: var(--title-color);
    opacity: 0.8;
    font-size:22px;
}

.episode_description_card{
    padding: 10px 14px;
}

.episode_description_card p{
    font-size: 18px;
    color: var(--paragraph-color);
    opacity: 0.8;
}


/*--------------PERSONAJES---------------------*/

.characters_main{
    background-color: white;
    font-size: 23px;
}

.characterss{
    background: url('/assets/img/characters/characters_bg.png') no-repeat center/cover;
    padding-top: 40px;
}

.characters_container{
    background: url('/assets/img/episodes/vector-bg.svg') no-repeat center/contain;
    padding: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.character_card{
    width: 300px;
    height: 400px;
    margin: 15px;
    position: relative;
}

.character_card img{
    width: 100%;
    
}

.character_card .container_description{
    border-right: 300px solid rgb(0, 0, 0);
    border-top: 25px solid transparent;
    width: 100%;
    height: 100px;
    position: absolute;
    bottom: 0;
}

.character_description{
    position: relative;
    bottom: 0;
    text-align: end;
    padding: 0 25px;
}

.character_description h2{
    font-size: 40px;
}

.character_description p{
    display: none;
}

.information_container{
    border-bottom: 800px solid var(--dark-blue-color);
    border-right: 150px solid transparent;
    height: 0;
    width: 74%;
    position: absolute;
    left: 0;
}

.character_right{
    display: flex;
    flex-direction: row-reverse;
    position: relative;
}

.character_information{
    position: absolute;
    width: 68%;
    height: 100%;
    padding: 100px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #804524;
    background: url('/assets/img/characters/bg-arcane.png') no-repeat bottom;
}

.information_right{
    left: 0;
}

.vector_rotate_right{
    transform: rotate(259.5deg);
    width: 800px;
    position: absolute;
    bottom: 48%;
    right: 8%;
}

.character_information p{
    width: 80%;
    margin: 0 auto;
}

.character_information button{
    display: flex;
    align-items: center;
    width: 260px;
    cursor: pointer;
}

.character_information button img{
    width: 32px;
    margin-left:10px;
}

.characters_main a{
    text-decoration: none;
    cursor: pointer;
    color: var(--paragraph-color);
}

.jinx_information img{
    width: 100%;
}

.jinx_information{
    background: #020204;
    height: 800px;
}

.jinx_information p{
    width: 80%;
    margin:auto;
    padding: 100px 0;
}

.character_left{
    display: flex;
    position: relative;
}

.information_container_left{
    border-bottom: 800px solid var(--dark-blue-color);
    border-left: 150px solid transparent;
    height: 0;
    width: 74%;
    position: absolute;
    right: 0;
}

.information_left{
    right: 0;
}

.character_information p{
    width: 80%;
    margin: 0 auto;
}

.character_information button{
    display: flex;
    align-items: center;
    width: 260px;
}

.character_information button img{
    width: 32px;
    margin-left:10px;
}

.vector_rotate_left{
    transform: rotate(-259.5deg);
    width: 800px;
    position: absolute;
    bottom: 48%;
    left: 7%;
}

.arrow_up{
    position: fixed;
    z-index: 10;
    background-color: var(--blue-color);
    font-size: 30px;
    color: var(--border-color);
    padding: 10px 17px;
    border-radius: 50%;
    border: 1px solid var(--border-color);
    bottom: 40px;
    right: 40px;
    cursor: pointer;
}